<div id="board" class="board">this is div</div>





<!-- <div>
    <div id="board" class="board" *ngFor="let row of board; let rowIndex = index">this is div</div>
    <div *ngFor="let cell of row; let columnIndex = index"><span [innerText]="cell.value"></span></div>

</div> -->



<!-- <p> mine-sweeper works!</p>

<table>
    <tr *ngFor="let row of maze; let rowIndex = index">
        <td *ngFor="let cell of row; let columnIndex = index" [class]="cell.state">
            <span [innerText]="cell.value"></span>
            <input [value]="cell.value" type="button" (click)="clickHandler($event, rowIndex, columnIndex, cell)" />

        </td>
    </tr>
</table> -->


<!-- <span [innerText]="cell.value"></span> -->

<!-- <div [class]="boardStatus">
    <div *ngFor="let row of trow"></div>
    <div *ngFor="let cell of trow"></div>
    <div>"cell.mineButton"</div>

    <input type="button" (click)="clickHandler(cell)" />

<button value="{cell}" (click)=(getButtonValue(cell))></button>
</div> -->

<!-- <div id='mainDiv'>
    <div id='boardDiv'>

    </div>
    <div>
        <button id='startButton'>Start</button>
        <div id='infoDiv'>display info to the user...</div>
    </div>
</div> -->